body {
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 1110px;
  margin: 0 auto;
}
.header__site {
  margin-top: 0;
}
.heder__section {
  max-width: 1920px;
  min-width: 365px;
  background-image: url("../images/back.jpg");
  background-size: cover;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_nav {
  display: flex;
}
.link_logo {
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
}

.nav_list {
  display: flex;
  margin: 0;
  display: flex;
  list-style: none;
}
.navlist_item:not(:last-child) {
  margin-right: 40px;
}
.item_link {
  text-decoration: none;
}
.link_p:hover {
  font-size: 20px;
}

.link_p:active {
  top: 5px;
  border-bottom: 3px solid white;
}
.link_p {
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  line-height: 132.9%;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.nav_reight {
  display: flex;
}
.reighit_list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.icon_item {
  margin-right: 40px;
  width: 20px;
}
.icons_btn {
  border-style: none;
  background: none;
}
.login_item {
  display: block;
}
.hero_section {
  padding-top: 150px;
  padding-bottom: 200px;
}
.hero_text {
  width: 668px;
}

.hero_h1 {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  color: #07484a;
  margin-bottom: 54px;
}
.hero_deck {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #07484a;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}
.btn_hero {
  padding: 15px 54px 15px 54px;
  background: #70908b;
  border-radius: 10px;
  border-style: none;
}
.btn_link {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #fdfbf8;
}
.modal-info {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 41px;
  color: #000000;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.324);
}

.modal-content {
  margin: auto;
  padding: 20px;
  width: 600px;
  background: #ffffff;
  border-radius: 40px;
}

.close {
  padding: 20px;
  background: #f5f5f5;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: right;
}

.ss {
  display: block;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.submit {
  width: 600px;
  border-style: none;
  background: #70908b;
  border-radius: 30px;
  margin-top: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.modal-info {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
.login_label {
  margin-top: 35px;
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 40px;
  align-items: center;
}

.login_input {
  border-style: none;
  background: rgba(0, 0, 0, 0);
  margin-left: 25px;
  padding-top: 10px;
  outline: none;
  font-size: 24px;
}
.login_input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}
